.clock {
    border: solid;
    border-color: black;
    color: blue;
    border-width: 5px;
    border-radius: 5px 10px;
    margin-left: 40%;
    position: absolute;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .head {
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
  }